/*
Skin: Dragonskin Gold
Author: Angelo Bertolli
Author URI: http://bitfreedom.com/
*/

/* Background */
body {
	background: #a80 url('images/dragonskin-gold.png');
}

#antipixel {
	background-color: #a80;
}

div .border {
	background: #fc4 url('images/border-gold.gif') top left repeat-x;
}



/* Links */
a, a:visited {
	color: #dc5;
}

#content h1 a, #content h1 a:visited,
#content h2 a, #content h2 a:visited,
#content h3 a, #content h3 a:visited,
#sidebar ul li a {
	color: #dc3;
}



/* Borders */
#container,
.boxed,
hr {
	border-color: #a80;
}


/* Images */
.wp-caption, .gallery-caption {
   border-color: #cb0;
   background-color: #a80;
}

