/*
Skin: Green
*/

/* Background */
body,
#antipixel {
	background-color: #060;
}

div .border {
        background-color: #0f0;
}



/* Links */
a, a:visited {
	color: #0c0;
}

#content h1 a, #content h1 a:visited,
#content h2 a, #content h2 a:visited,
#content h3 a, #content h3 a:visited,
#sidebar ul li a {
	color: #0b0;
}



/* Borders */
#container,
.boxed,
hr {
	border-color: #080;
}


/* Images */
.wp-caption {
   border-color: #080;
   background-color: #040;
}

