/*
Skin: Green Dragonskin
Author: Angelo Bertolli
Author URI: http://bitfreedom.com/
*/

/* Background */
body {
	background: #060 url('images/dragonskin-green.png');
}

#antipixel {
	background-color: #060;
}

div .border {
	background: #0f0 url('images/border-green.gif') top left repeat-x;
}



/* Links */
a, a:visited {
	color: #0c0;
}

#content h1 a, #content h1 a:visited,
#content h2 a, #content h2 a:visited,
#content h3 a, #content h3 a:visited,
#sidebar ul li a {
	color: #0b0;
}



/* Borders */
#container,
.boxed,
hr {
	border-color: #080;
}


/* Images */
.wp-caption, .gallery-caption {
   border-color: #080;
   background-color: #040;
}

