/*
Dragonskin Green
040, 080, 0b0, 0c0
*/

body {
	background: #000 url('images/dragonskin.jpg');
}

a, a:visited {
	color: #0c0;
}
	
#header h2 a {
	color: #0b0;
}

#container { 
	background:  url('images/pattern.png') #000 top left repeat-x;
}

#content h1 a, #content h1 a:visited {
	color: #0b0;
}

#content h2 a, #content h2 a:visited {
	color: #0b0;
}

#content h3 a, #content h3 a:visited  {
	color: #0b0;
}

#sidebar ul li a {
	color: #0b0;
}

#footer {
        background:  url('images/pattern.png') transparent top left repeat-x;
}

hr {
   color: #080;
}

.boxed {
   border: 2px solid #080;
}

.boxed span {
   color: #080;
}
